<ul>
  <% @students.each do |student| %>
    <li><%= "#{student.student_id}: #{student.first_name} #{student.last_name}, email: #{student.email}, enrollment: #{student.enrollment_date}" %></li>
  <% end %>
</ul>